.customFooter {
  text-align: center;
  margin: 1rem 0;
  margin-top: auto;
}

.copyright {
  display: inline;

  @media (max-width: 768px) {
    display: none;
  }
}

.and {
  @media (max-width: 426px) {
    font-size: 0;

    &::before {
      content: ", ";
      font-size: 11px !important;
    }
  }

  &::before {
    font-size: 0;
  }
}

@media (max-width: 420px) {
  .dash {
    // 310 327
    font-size: 0;
  }

  .credits {
    display: block;
  }
}
