@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "theme";

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);

  transition: color 0.2s ease;
}
a:hover {
  color: var(--link-hover-color);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main {
  flex: 1;
}

.HIDDEN {
  display: none !important;
}

.font-sm {
  font-family: "Space Mono";
}

.NOT-round {
  border-radius: 0 !important;
}

.loose {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
}

code {
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
  font-size: 0.9rem;
}
