.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pageNot,
.found {
  font-size: 6rem;
  font-family: "Space Mono";
  text-align: center;
}

@media (max-width: 500px), (max-height: 480px) {
  .pageNot,
  .found {
    margin: 0 !important;
    font-size: 3.5rem;
  }
}

.found {
  margin-top: -2rem;
}

.description {
  margin: 0 0.5rem;
}
