#app {
  color: var(--light-text-color);
  background-color: var(--light-bg-color);
}

.play-btn {
  color: var(--light-text-color);
  border: 2px solid var(--light-text-color) !important;

  &:hover {
    border-color: hsla(223, 88%, 40%, 0.61) !important;
    background-color: hsla(223, 88%, 40%, 0.61) !important;
    cursor: pointer;
  }
}

.menu-container > a {
  color: var(--light-text-color);
  border-color: var(--light-text-color);

  &:hover {
    border-color: var(--light-text-color);
    background-color: var(--light-hover-border);
  }
}

.link-selected {
  background-color: var(--light-border);
}

.submit-button {
  color: var(--light-text-color);
  background-color: var(--light-border);
  border-color: var(--light-text-color);

  &:hover {
    border-color: var(--light-text-color);
    background-color: var(--light-hover-border);
    cursor: pointers;
  }
}
