main {
  width: 80vw;
  overflow: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  align-self: center;

  &::-webkit-scrollbar-thumb {
    background-color: hsl(220, 9%, 87%);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  pre {
    &:first-of-type {
      margin-top: 3rem;
    }
    max-width: 80vw;
    border-radius: 0.35rem;
  }

  section {
    width: min(100%, 80ch);
    margin: auto;
  }

  @media screen and (max-width: 640px) {
    section {
      width: min(90%, 80ch);
      margin: auto;
    }
  }
}

.problem {
  flex: 1;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit {
  margin-right: 1rem;
}

.typeText {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  font-family: "Space Mono", "Inter", sans-serif;
}

.optionWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.option {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: var(--bg-color);
  border: 1.5px solid var(--border);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  // z-index: 1;

  &:hover {
    border-color: var(--hover-border);
  }

  &:checked {
    background-color: var(--text-color);
    & ~ .insideLetter {
      color: var(--bg-color);
    }
  }

  &.correct {
    background-color: var(--color-green);
  }
}

.frozen {
  pointer-events: none !important;
}

.insideLetter {
  width: fit-content;
  position: relative;
  left: -16px;
  pointer-events: none;
}

.optionLabel {
  max-width: 64vw;
}

@media screen and (max-width: 600px) {
  main {
    width: 100vw;
    padding: 0.5rem;

    pre {
      max-width: 90vw;
    }
  }

  .option {
    width: 30px;
    height: 30px;
  }

  .insideLetter {
    left: -22px;
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .option {
    // border: 1px solid red;
    padding: 0.3rem 0rem;
  }
}

@media screen and (max-width: 1036px) {
  .problemParent {
    margin-top: 3.5rem;
  }
}
