.settingsWrapper {
  width: 100vw;
  align-self: center;
}

.reset {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 3rem;
  font-weight: bold;
  color: red;
  border: 2px solid red;
  padding: 5px;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
  transition: border-color 0.3s ease-in;

  &:hover {
    border-color: #802c2c;
    transition: border-color 0.3s ease-in;
  }
}

.faTriangleExclamation {
  margin-right: 0.3rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.settingRow {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0;

  > span {
    line-height: 2;
  }

  @media (min-width: 768px) {
    margin-left: 13rem;
    margin-right: 13rem;
  }

  @media (min-width: 1024px) {
    margin-left: 18rem;
    margin-right: 18rem;
  }
}
