.btn {
  background-color: hsla(0, 0%, 100%, 0);
  font-family: "Space Mono";
  text-decoration: none;
  display: inline-block;
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: var(--hoverborder);
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  a {
    text-decoration: none;
  }
}

.selected {
  background-color: hsla(0, 0%, 100%, 0.2);

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}
