.toggle {
  gap: 0.5rem;
  display: contents;
}

.toggleWrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.toggleCheckbox {
  position: absolute;
  left: -9999px;
  top: -9999px;

  &:checked + span {
    background-color: var(--accent-color);
  }

  &:checked + span::before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}
.slider {
  width: 70px;
  height: 35px;
  border-radius: 100px;
  background-color: #bfbfbf;
  transition: background-color 0.2s;
  position: relative;
  cursor: pointer;
  display: flex;

  &:before {
    content: "";
    top: 5px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    position: absolute;
  }
}
